.startMaze{
  background-color: var(--light-primary-color);
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.startMaze p {
  background-color: transparent;
  color: var(--text-primary-color);
}

.containerNavMaze {
  display: flex;
  width: 100%;
}

.buttonStart {
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0.5rem;
  color: var(--text-primary-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 30px;
}

.buttonStart:hover {
  color: var(--text-secondary-color);
}

.guide li {
  list-style-type: none;
  font-size: 1.2em;
  color: var(--text-primary-color);
  padding: 4%;
}

.startMaze h1 {
  font-size: 3em;
  font-weight: bold;
  color: var(--text-secondary-color);
  text-align: center;
}