@import './vars.css';

body {
  margin: 0;
  font-family: var(--primary-font) ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--default-primary-color);
  color: var(--text-primary-color);
  font-size: 16px;
  overflow: hidden;
}

@media (max-width: 720px) { 
  body{
    font-size: 10px;
  }
 }