.containerCells {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.cell {
  width: calc(100%/12);
  height: calc(100vh/12);
}

.barrer {
  background-color: var(--light-primary-color);
}

.game {
  background-color: var(--default-primary-color);
  cursor: pointer;
}

.active {
  background-color: #231f20 !important;;
}
.self-resolved {
  background-color: #231f205d;
}

.temblor{
  animation: vibracion 0.5s infinite;
  background-color: #df093f;
}
@keyframes vibracion{
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  15%, 35%, 55%, 75%{
    transform: translateY(5px);
  }    
}

.container {
  display: flex;
  width: 100%;
}

.finishNode {
  background-color: #C5CAE9;
}

.finishMaze {
  background-color: var(--light-primary-color);
  position: absolute;
  opacity: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-left: 10%;
}
.finishMaze p {
  font-size: 3rem;
  font-weight: bold;
  color: var(--text-primary-color);
  text-align: center;
}
.hidden {
  display: none;
}